db_path: ./db.json

timeout: 10
paramiko:
  host: cn-relay.internet.limao.tech
providers:
  ok: 
    url: https://rss.ccgfw.top/link/C7glPw7oQlPThsUV?mu=2
  # ww: https://ww5271.xyz/rss/mEWrAf3/Ed_KYV?net_type=ALL
  dg: 
    url: https://debd2b040ac35e3787b27bfdcc5b6db1.img-cache-oss-cn-tokyo-aliyuncs-storage.com/s?t=debd2b040ac35e3787b27bfdcc5b6db1.jpg
    ua: sing-box
hosts:
  base: &base
    type: sing
    sudo: false
  camp-pk:
    <<: *base
    outbounds:
      - dg
    sudo: true
  camp-bb:
    <<: *base
    outbounds:
      - ok
    ssh_user: root
  camp-box:
    <<: *base
    outbounds:
      - dg
    ssh_user: root
  # marf-bj:
  #   <<: *base
  #   outbounds:
  #     - ok
  # marf-sh:
  #   <<: *base
  #   outbounds:
  #     - ok

github_proxy: https://ghfast.top/
