db_path: ./db.json

timeout: 10
providers:
  ok: 
    url: https://rss.okgfw.top/link/C7glPw7oQlPThsUV?mu=singbox
    paramiko:
      host: cn-relay.internet.limao.tech
  dg: 
    url: https://8eb7a3b54041484400c88f3c055d8495.static-media-bkt-shanghai-aliyun-ossapi.com/s?t=8eb7a3b54041484400c88f3c055d8495.jpg
    ua: sing-box
  ft:
    url: https://ft-98rimvre.tutunode.com/gateway/feitu?token=ce74fb7ae0efa99709c3cdbac2e38695
hosts:
  base: &base
    type: sing
    sudo: false
  camp-pk:
    <<: *base
    outbounds:
      - ft
    sudo: true
  camp-bb:
    <<: *base
    outbounds:
      - ok
    ssh_user: root
  camp-box:
    <<: *base
    outbounds:
      - ok
    ssh_user: root
  # marf-bj:
  #   <<: *base
  #   outbounds:
  #     - ok
  # marf-sh:
  #   <<: *base
  #   outbounds:
  #     - ok

github_proxy: https://ghfast.top/
