db_path: ./db.json

timeout: 10
providers:
  ok: 
    url: https://rss.okgfw.top/link/C7glPw7oQlPThsUV?mu=singbox
    paramiko:
      host: cn-relay.internet.limao.tech
  dg:
    url: https://1b5a47dc025a1d3b27ffa811f3668dac.r7kq-2nfa-hg9x-bt4m-y3pw.sbs/s?t=1b5a47dc025a1d3b27ffa811f3668dac.jpg&route=1
    # ua: sing-box
  ft:
    url: https://ft-98rimvre.tutunode.com/gateway/feitu?token=ce74fb7ae0efa99709c3cdbac2e38695
    paramiko:
      host: cn-relay.internet.limao.tech
hosts:
  base: &base
    type: sing
    sudo: false
  camp-pk:
    <<: *base
    outbounds:
      - dg
    sudo: true
  camp-bb:
    <<: *base
    outbounds:
      - ok
    ssh_user: root
  camp-box:
    <<: *base
    outbounds:
      - ok
    ssh_user: root
  gl0:
    <<: *base
    outbounds:
      - dg
  # marf-bj:
  #   <<: *base
  #   outbounds:
  #     - ok
  # marf-sh:
  #   <<: *base
  #   outbounds:
  #     - ok

github_proxy: https://ghfast.top/
